<section class="main">
    <div class="container">
        <div class="row">
            <form class="form-inline" name="form" role="form" method="POST" ng-submit="buscar()">

                <div class="form-group">
                    <label class="col-md-4 control-label">Blog name:</label>
                    <div class="col-md-6">
                        <input type="text" required class="form-control" ng-model="tumblr.nome" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Blog name:</label>
                    <div class="col-md-6">
                        <input type="text" required class="form-control" ng-model="tumblr.nome" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">Busca</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>