<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-body">
                    <table>
                        <tr ng-repeat="(chave, valor) in post">
                            <td><strong>{{chave}}</strong></td>
                            <td>{{valor}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>